nav{
    background-color: #ffdb15;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
}

img{
    display: block;
    width: 180px;
    height: 50px;
}

.drop-down-menu .drop-down-button{
    font-size: 16px;
    font-weight: 900;
    outline: none;
    padding: 15px 15px;
}

.drop-down-button{
    background-color: #ffdb15;
    font-weight: 900;
    cursor: pointer;
}

.drop-down-button:hover{
    text-shadow: 0 .25em 0.25em rgba(79, 76, 76, 0.65) !important;
}


nav ul{
    display: flex;
    padding: 50px;
}

.drawer{
    font-size: 25px;
    float: left;
    cursor: pointer;
    display: none; 
}

#ckbox{
    display: none;
}

.active{
    color: rgb(94, 60, 60);
    font-size: 16px;
    text-shadow: 0 .25em 0.25em rgba(79, 76, 76, 0.65) !important;
}

.inactive{
    color: black;
}

/* Responsive */
@media (max-width: 600px){

    .brand{
        margin: 0 40px;
    }

    nav{
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .drawer{
        display: block;
        padding: 0 25px;
    }

    .list{
        position: fixed;
        top: 10vh;
        height: 100vh;
        width: 25%;
        background-color: #ffdb15;
        text-align: left;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all .5s;
        padding: 0;
    }

    #ckbox:checked ~ ul{
        left: 0;
    }

    .active{
        color: rgb(94, 60, 60);
        font-size: 16px;
        text-shadow: 0 .25em 0.25em rgba(79, 76, 76, 0.65) !important;
    }
    
    .inactive{
        color: black;
    }
       
}
